@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeue-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeue-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeue-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeue-Roman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeue-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body,
input,
textarea,
button {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
}
a,
span {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
a:hover {
  font-weight: 400;
}
h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.light-theme input::placeholder,
.light-theme textarea::placeholder {
  color: #474B4F; /* плейсхолдер */
}

.dark-theme input::placeholder,
.dark-theme textarea::placeholder {
  color: #ffffffea; /* плейсхолдер */
}
[placeholder] {
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 1.5px;
}